.album {
  display: flex;
  margin-top: 20px;

  a {
    text-decoration: none;
    &:hover {
      text-decoration: none;
      color: var(--font-black);
    }
  }

  img {
    margin-right: 10px;
  }

  .details {
    display: block;

    h2 {
      margin: 5px 0;
    }
    h3 {
      margin: 5px 0;
      font-size: 1em;
    }
    p {
      margin: 3px 0 0;
      font-size: 0.75em;
    }
  }
}
