:host {
  width: 100%;

  @media screen and (min-width: 660px) {
    width: 250px;
    margin-right: 20px;
  }
}

.album {
  display: flex;
  margin-top: 20px;

  a {
    text-decoration: none;
    &:hover {
      text-decoration: none;
      color: var(--font-black);
    }
  }

  img {
    margin-right: 10px;
  }

  .details {
    display: block;

    h2 {
      margin: 5px 0;
    }
    h3 {
      margin: 5px 0;
      font-size: 1em;
    }
    p {
      margin: 3px 0 0;
      font-size: 0.75em;
    }
  }

  @media screen and (min-width: 660px) {
    .details {
      h2 {
        font-size: 0.75em;
      }
      h2 {
        font-size: 0.75em;
      }
    }
  }
}
