:root {
  --max-page-width: 1200px;
  --font-black: #353735;
  --font-hightlight: #0f0;
  --background-white: #eeece7;
  --item-width: 250px;
  --skeleton-color: #dedcd6;

  h2 {
    font-size: 1.2em;
    font-weight: normal;
  }

  a {
    color: var(--font-black);
    &:hover {
      color: var(--font-hightlight);
    }
  }
}

html {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;

  @media screen and (min-width: 1200px) {
    margin-left: calc(100vw - 100%);
  }
}

body {
  padding: 0;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: var(--max-page-width);
  color: var(--font-black);
  background-color: var(--background-white);

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

app-root {
  width: 100%;
}
